.App {
  text-align: center;
}

.homepage {
  background-color: #282c34;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  background: #000000;
}

.api {

}

.footer {
  margin-bottom: auto;
  background-color: #000000;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono",monospace;
  font-weight: 700;
  font-size: calc(10px + 5vmin);
  position: relative;
  text-shadow: -15px 5px 20px #ced0d3;
  top: 130px;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.02em;
  text-align: center;
  color: #F9f1cc;
  text-shadow: 5px 5px 0px #FFB650, 
    10px 10px 0px #FFD662, 
    15px 15px 0px  #FF80BF, 
    20px 20px 0px #EF5097, 
    25px 25px 0px #6868AC, 
    30px 30px 0px #90B1E0;
}

.desc {
  font-family: "JetBrains Mono",monospace;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 20px;
  color: white;
}

.content {
  display: flex;
  justify-content: space-around;
}

/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.App-link {
  color: #61dafb;
}

.App-center {
  width: 50%;
  margin: auto;
}

.margin {
  height: 10vh;
  margin: auto;
}

.progress_bar_back {
  height: 24px;
  width: 100%;
  background-color: gray;
  border-radius: 25px;
  margin-top: 10px;
  border-style: solid;
  box-shadow: 0 0 2px 2px #141414
}

.progress_bar_bar {
  height:24px;
  width: 25%;
  background-color:royalblue;
  border-radius: 25px;
}

.boxQuestionBack {
  height: 50%;
  width: 45%;
  margin: auto;
  color: white;
  background-color: MidnightBlue;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px #141414;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.progress-bar {
  background-color: rgb(8, 239, 24); /* Change background color to purple */
  color: black /* Change text color to white */
}

.decrease-button {
  background-color: rgb(240, 27, 27);
}

.increase-button {
  background-color: rgb(8, 239, 24);
}

.square-input {
  width: 300px;
  height: 300px;
  text-shadow: #3c4fe0;
}
